<mat-toolbar class="mat-elevation-z3" [ngSwitch]="isLoggedIn">
    <img routerLink="/compile" style="object-fit: contain; height: 100%;" src="assets/images/wasmcc_logo_noslogan_tr.png">

    <span class="fill-remaining-space"></span>

    <button *ngSwitchCase="true" mat-raised-button class="button-margin" name="log_out_btn" (click)="logout()">Logout</button>
    <button *ngSwitchCase="true" mat-raised-button class="button-margin" name="personal_files_btn" routerLink="/personal_files">My Files</button>
    <button *ngSwitchCase="false" mat-raised-button class="button-margin" name="log_in_btn" routerLink="/login">Log In</button>
    <button *ngSwitchCase="false" mat-raised-button class="button-margin" name="sign_up_btn" routerLink="/signup">Sign Up</button>
</mat-toolbar>
