<form>
    <div class="file-upload-container btn btn-bwm">
        <label>Source Code File<br>
            <input #fileInput name="mycode" id="fileToUpload" type="file" [(ngModel)]="file_path"/>
        </label>
        <!-- <a *ngIf="resultsZipFileBlob" #downloadhref href="#" download="results.zip" target="_blank">click this to download!!</a> -->
        <button [disabled]="!resultsZipFileBlob.size" [hidden]="!resultsZipFileBlob.size" type="button" name="buttonsave" (click)=saveZip()>
            Click this to save
            <a id="downloadhref"></a>
        </button>
    </div>
    <div>
        <button type="button" name="reset-btn" (click)="resetInputFile()">Reset file</button>
    </div>

    <div>
        <mat-checkbox #storeFileCheckbox>Store the file in my account</mat-checkbox>
    </div>
    <mat-form-field>
        <mat-label>Select a language</mat-label>
        <mat-select [(value)]="language">
            <!-- <mat-option>None</mat-option> -->
            <mat-option *ngFor="let option_language of available_languages" value="{{option_language}}">{{option_language}}</mat-option>
        </mat-select>
    </mat-form-field>

    <p>You selected: {{language}}</p>

    <app-c-upload-form *ngIf="language === 'C'" [c_compilation_options]="c_compilation_options"></app-c-upload-form>
    <app-cpp-upload-form *ngIf="language === 'Cpp'" [cpp_compilation_options]="cpp_compilation_options"></app-cpp-upload-form>
    <app-golang-upload-form *ngIf="language === 'Golang'" [golang_compilation_options]="golang_compilation_options"></app-golang-upload-form>

    <button *ngIf="!storeFileCheckbox.checked" [disabled]="!file_path" type="button" name="upload-btn" (click)="upload(fileInput, false)">Upload the file</button>
    <button *ngIf="storeFileCheckbox.checked" [disabled]="!file_path" type="button" name="uploadAndStoreButton" (click)="upload(fileInput, true)">Upload And store</button>
</form>
