<form>
    <div class="file-upload-container btn btn-bwm">
        <label>Source Code File<br>
            <input #fileInput name="mycode" id="fileToUpload" type="file" [(ngModel)]="file_path"/>
        </label>
        <!-- <a *ngIf="resultsZipFileBlob" #downloadhref href="#" download="results.zip" target="_blank">click this to download!!</a> -->
        <button [disabled]="!resultsZipFileBlob.size" [hidden]="!resultsZipFileBlob.size" type="button" name="buttonsave" (click)=saveZip()>
            Click this to save
            <a id="downloadhref"></a>
        </button>
    </div>

    <mat-form-field>
        <mat-label>Select a language</mat-label>
        <mat-select [(value)]="language">
            <!-- <mat-option>None</mat-option> -->
            <mat-option value="Golang">Golang</mat-option>
            <mat-option value="C">C</mat-option>
            <mat-option value="C++">C++</mat-option>
        </mat-select>
    </mat-form-field>

    <p>You selected: {{language}}</p>

    <app-c-upload-form *ngIf="language === 'C'" [c_compilation_options]="c_compilation_options"></app-c-upload-form>
    <app-cpp-upload-form *ngIf="language === 'C++'" [cpp_compilation_options]="cpp_compilation_options"></app-cpp-upload-form>

    <button [disabled]="!file_path" type="button" name="upload-btn" (click)="upload(fileInput)">Upload the file</button>
</form>
