<p>file-upload works!!!!!!NOOOOOOOOOOOOOOOOOOOO</p>
<form>
    <div class="file-upload-container btn btn-bwm">
        <label>Source Code File<br>
            <input #fileInput name="mycode" id="fileToUpload" type="file" [(ngModel)]="files"/>
        </label>
        <!-- <a *ngIf="resultsZipFileBlob" #downloadhref href="#" download="results.zip" target="_blank">click this to download!!</a> -->
        <button [disabled]="!resultsZipFileBlob.size" [hidden]="!resultsZipFileBlob.size" type="button" name="buttonsave" (click)=saveZip()>
            Click this to save
            <a id="downloadhref"></a>
        </button>
    </div>

    <button [disabled]="!files" type="button" name="upload-btn" (click)="upload(fileInput)">Upload the file</button>
</form>
