:host {
    flex: 1 1 auto;
    display: block;
}

.full-size {
    height: 100%;
    width: 100%;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-personal-files {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.flex-item-horizontal-space {
    flex: 0 1 0.5%;
}

.flex-item-personal-file-list {
    flex: 1 0 74.25%;
    text-align: left;
}

.flex-item-personal-file-details {
    flex: 1 0 24.25%;
    text-align: left;
}

.spaced-mat-card {
    position: relative;
    padding: 0;
    height: 98%;
    top: 1%;
    width: 100%;
}

.flex-container-card {
    display: flex;
    flex-flow: column nowrap;
}

/* Inside flex-item-personal-file-list */
.flex-item-toolbar {
    flex: 0 0 auto;
}

.chip-list-margin {
    margin: 1%;
}

.sidenav-content-personal-file-list {
    position: absolute;
    text-align: center;
}

.file-list-element {
    margin: 1%;
    float: left;
}

.file-list-element:hover {
    background: #ddd;
}

.selected-element {
    background: #ddd;
}
